$Robo:"Roboto";
.scrollable-box {
    width: 100%; 
    height: 100px;
    overflow-y: auto; 
    padding: 10px;
    background-color: #f9f9f9;
  
  
    &::-webkit-scrollbar {
      width: 12px; 
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
        background: rgb(254,194,0);
        background: linear-gradient(180deg, rgba(254,194,0,1) 0%, rgba(113,196,118,1) 83%); 
      border-radius: 10px; 
      border: 3px solid #f1f1f1; 
    }
    .conta_table_one{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      font-family: $Robo;
      color: #828282;
    }
  }