$Robo:"Roboto";
.general_container_hit{
width: 100%;
height: 55vh;
// background-color: blueviolet;
}
.container_hits{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_stuff_hit{
    width: 358px;
    height: 130px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.container_img_hit{
    width: 35%;
    height: 130px;
    // background-color: aqua;
}
.hit_prod_cont{
    width: 50px;
    height: 24px;
    background-color: #E74C38;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hit_prod_cont p{
    font-size: 16px;
    font-family: $Robo;
    color: #ffffff;
    font-weight: bold;
}
.hit_prod_cont_gen{
    width: 100%;
    height: 5vh;
    // background-color: aquamarine;
    display: flex;
    align-items: end;
    justify-content: right;
}
.container_pri_star{
    width: 90%;
    height: 9vh;
    // background-color: #8a625d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_title_hit{
    width: 100%;
    height: 7vh;
    // background-color: cadetblue;
    display: flex;
    align-items: end;
}
.container_title_hit p{
    font-size: 14px;
    font-family: $Robo;
    color: #4F4F4F;
}
.txt_cont_hit{
    width: 65%;
    height: 130px;
    // background-color: cornflowerblue;
}
.container_pri_star p{
    font-size: 18px;
    font-family: $Robo;
    color: #333333;
    font-weight: bold;
}
.container_pri_star img{
// width: 8vw;
// height: 3vh;
width: 90px;
height: 18px;
}