$Robo:"Roboto";
.general_container_th_first{
    width: 100%;
    height: 750vh;
    background-color:#F7FAFB;
}
.container_th_first{
    width: 90%;
    height: 670vh;
    background-color: aqua;
    margin: auto;
}
.container_head_threePg{
    width: 100%;
    height: 12vh;
    background-color: coral;
}
.container_subtitle_thfirst{
    width: 20%;
    height: 6vh;
    background-color: rgb(0, 255, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width:25px;
        height:25px;
    }
    p{
        font-family: $Robo;
        font-size: 14px;
    }
    p:nth-of-type(1){
        color:#2FD3AE;
    }
    p:nth-of-type(2){
        color:#BDBDBD;
    }
}
.container_head_thfirst{
    width: 100%;
    height: 5vh;
    background-color: brown;
    h1{
        font-family: $Robo;
        color:#394045;
    }
}
.container_common_sliflt{
    width: 100%;
    height:435vh;
    background-color: blueviolet;
    display: flex;
}
.container_filter_pg3{
    width: 20%;
    height: 290vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_slider_pg3_one{
    width: 80%;
    height: 400vh;
    background-color: #2f3ad3;
}
.container_slider_pg3_two{
    width: 100%;
    height: 80vh;
    background-color: #6bd32f;
}