$Robo:"Roboto";
.general_container_stock{
width: 100%;
height: 150vh;
// background-color: aqua;
}
.general_container_header_swiperbbt{
    width: 100%;
    height: 10vh;
    // background-color: rgb(73, 117, 117);
}
.container_header_swiperbbt{
    width: 90%;
    height: 10vh;
    // background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.container_head_storck{
    width: 20%;
    height: 10vh;
    // background-color: cornflowerblue;
    display: flex;
    align-items: center;
}
.container_bbt_swiper{
    width: 20%;
    height: 10vh;
    // background-color: rgb(237, 180, 100);
}
.mySwiper{
    width: 100%;
    height: 135vh;
    // background-color: burlywood;
}
.container_swiper_b{
    width: 10%;
    height: 10vh;
    // background-color: rgb(83, 63, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_swiper_b button:nth-of-type(1){
    width: 3vw;
    height: 5vh;
    background-image: url(img_stock/left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.container_swiper_b button:nth-of-type(2){
    width: 3vw;
    height: 5vh;
    background-image: url(img_stock/right.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.container_head_storck h1{
font-family: $Robo;
}
.container_tov_stock{
    width: 100%;
    height: 70vh;
    display: flex;
}
.container_tov_stock{
    width: 98%;
    height: 65vh;
    // background-color: rgb(133, 155, 155);
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: end;
}
